*{
    box-sizing: border-box;
  }

body{
	margin: 0;
	font-family: sans-serif;
	background-color:#0a5398;
}
.container{
	max-width: 1140 px ;
	background-color:#04f3ef;
	height :auto ;
	margin: 40px auto;
	padding: 20px;
}
h1{
	margin: 0;
	font-weight:800;
}
h2{
	color: black;
	font-style: italic;
	text-align: center;
	background-color:#fb4242;
}
.clear{
	clear: both;
}
nav{
	float: left;
	width: 100%;
	background-color: #dddddd;
	margin-bottom: 20px;
	text-align: center;
	padding: :30px 15 px;
	
}
header{
	float: left;
	height:150px;
	width: 100%;
	background-color:#dddddd;
	text-align: center;
	padding: 100px 15px;
	margin-bottom: 20px;

}
.sec{
	float: left;
	width: 100%;
	background-color:#6588e1;
	text-align: center;
	padding: 50px 10px;

}
.sec .content{
	float: left;
	width: 100%;
	margin-top: 60 px;

}
.sec .content .category{
	width: 33.3333%;
	float: left;
	padding: 10px 10px;
}
.sec .content .category .box{
	background-color:#15d6c0;
	height: 250px;
	color: #fff;
	text-align: left;
}
.box{
	padding-left: 25px;
	padding-right: 15px;
}
.boom{
	padding-left: 135px;
}
